@font-face{
    font-family: 'lilitaOne';
    src : url('./assets/font/LilitaOne.ttf')
}
@font-face{
    font-family:'disney';
    src: url('./assets/font/waltograph42.otf'),
        url('./assets/font/waltographUI.ttf') format('truetype')
}
@font-face {
    font-family: 'actionMan';
    src: url('./assets/font/Action_Man_Shaded-webfont.eot');
    src: url('./assets/font/Action_Man_Shaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/font/Action_Man_Shaded-webfont.woff') format('woff'),
         url('./assets/font/Action_Man_Shaded-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family: 'lilitaOne';
}

body{
    background-color:$blue-light;
    display:flex; flex-direction: column;
}

h1{
    font-family: 'lilitaOne', 'disney','actionMan', 'american typewriter';
}
h2{
    font-family:'actionMan', 'american typewriter';
}
p{
    font-size: 16px;
}

a{
    font-family:'sans-serif'
}

.card-body a {
    color: black;
}
footer a{
    color: white;
}

.btn-success{
    color: rgb(30,30,30)
}
#in_cart_count{
    color: #1F2327;
}