//listed object in the first menu
.listed-object{
    background-color:$blue-light;
    border-top:5px solid $blue-dark;
    border-bottom:5px solid $blue-dark;
    div{
        div{
            img{
                width:100%;
            }
        }
    }
}