//listed object in the first menu
.listed-object{
    div{
        div{
            img{
                width:100%;
            }
        }
    }
}

//items in cart
.wrapper-count {
    width: max-content;
    height: max-content;
    position:relative;
}
#in_cart{
    &_count {
        display: inline-block;
        position: absolute;
        bottom: -5px;
        right: 0px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: #c87a5e;
    }
    &_popover{
        display:none;
        position:absolute;
        top:45px;
        right:0px;
        background-color: white;
        border-radius:5px;
        padding:5px;
        z-index:5;


        &:before{
            display : inline-block;
            content:" ";
            height : 0;
            width : 0;
            border-right : 5px solid transparent;
            border-bottom : 10px solid white;
            border-left : 5px solid transparent;
            position:absolute;
            top:-5px;
            left:80%;
        }
        p{
            white-space: nowrap;
            color:black;
        }
    }
    
}
